
p {
  font-size: 25px;
  padding: 10px;
}
a {
  display: inline;
  font-size: 15px;
  margin: 15px;
}
.remainBalance {
  font-size: 40px;
}

.titles {
  text-align: center;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 150px;
}

body {
  font-family: 'Chela One', cursive;
  font-size: 35px;
}

.deleteButton {
  border-radius: 12px;
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 50px;
  display: inline-block;
  font-size: 16px
}
